#
#### EDITING GUIDELINES ###

##### - Use comments like Markdown (.md) titles as path with a link. 
###### &nbsp;&nbsp; example: `[service_title_path/](service_title_path/)`

##### - Preview it as .md before commit.

# #########################################


# Common

## VS Code settings
.vscode/*

## vim temp files
*.swp
*.swo

# [orchestration/](orchestration/)

## [orchestration/docker-compose/](orchestration/docker-compose/)
orchestration/docker-compose/docker-compose.override.yml

# [services](services)

## [services/back/user-api/](services/back/user-api/)

#### Ruby Bundle
services/back/user-api/.bundle

#### Debugger
services/back/user-api/.byebug_history

#### Ignore all logfiles and tempfiles.
services/back/user-api/log/*
services/back/user-api/tmp/*
!services/back/user-api/log/.keep
!services/back/user-api/tmp/.keep

#### Ignore uploaded files in development.
services/back/user-api/storage/*
!services/back/user-api/storage/.keep
services/back/user-api/tmp/storage/*
!services/back/user-api/tmp/storage/
!services/back/user-api/tmp/storage/.keep

#### Ignore master key for decrypting credentials.
services/back/user-api/config/master.key

#### Ignore secrets and other files.
services/back/user-api/.env*
!services/back/user-api/.env*.erb
!services/back/user-api/.env.example

# Ignore pidfiles, but keep the directory.
services/back/user-api/tmp/pids/*
!services/back/user-api/tmp/pids/
!services/back/user-api/tmp/pids/.keep


## [services/front/pwa/](services/front/pwa/)
services/front/pwa/node_modules/
services/front/pwa/app/assets/builds/*
!services/front/pwa/app/assets/builds/.keep
services/front/pwa/public/assets/
services/front/pwa/yarn-error.log
services/front/pwa/yarn-debug.log*
services/front/pwa/.yarn-integrity
