RAILS_ENV=development # RAILS_ENV can be test or production



# Database Setup #########################################
DATABASE_NAME=user-api_postgres-${RAILS_ENV:-development}
DATABASE_USER=user-api-${RAILS_ENV:-development}
DATABASE_PASSWORD="QrEmHiH572#r9x^EeyWqG4!Yy6JRCtb9EAzcw"
DATABASE_URL=user-api_postgres-${RAILS_ENV:-development}
DATABASE_PORTMAP=5432



# Optional ###############################################
#PORT=3000 # RAILS PORT
#ALLOWED_HOSTS=hostname:3000,example.com,subdomain.example.com
